In [2]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [3]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [4]:
a = [1, 2, 3]

In [5]:
b = a
b

[1, 2, 3]

In [6]:
a.append(4)
b

[1, 2, 3, 4]

In [7]:
def append_element(some_list, element):
    some_list.append(element)

In [8]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [12]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

In [13]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [14]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [15]:
a = 5
isinstance(a, int)

True

In [18]:
a = 5; b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True

In [23]:
a = "foo boo"

In [28]:
getattr(a, "split")

In [25]:
a.split()

['foo', 'boo']

In [ ]:
a.

In [29]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [32]:
for i in a:
    print(i)

f
o
o

b
o
o

In [42]:
print(isiterable("a string"))
print(isiterable([1, 2, 3]))
print(isiterable(5))

True
True
False

In [49]:
type([1])

list

In [51]:
print(5 - 7)
print(12 + 21.5)
print(5 <= 2)

-2
33.5
False

In [68]:
print(False ^ False)

False

In [71]:
a = [1, 2, 3]
b = a
c = list(a)
print(a is b)
print(a is not c)

True
True

In [72]:
a == c

True

In [73]:
a = None
a is None

True

In [74]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [75]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [76]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [77]:
fval = 7.243
fval2 = 6.78e-5

In [79]:
print(fval2)

6.78e-05

In [80]:
3 / 2

1.5

In [81]:
3 // 2

1

In [85]:
c = """
This is a longer string that
spans multiple lines
"""
print (c)

This is a longer string that
spans multiple lines

In [83]:
c.count("\n")

3

In [86]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [87]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [88]:
a

'this is a string'

In [89]:
a = 5.6
s = str(a)
print(s)

5.6

In [91]:
s = "python"
print(list(s))
s[:3]

['p', 'y', 't', 'h', 'o', 'n']

'pyt'

In [92]:
s = "12\\34"
print(s)

12\34

In [94]:
s = r"this\has\no\special\characters"
print(s)
s

this\has\no\special\characters

'this\\has\\no\\special\\characters'

In [95]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [104]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [105]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [106]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [107]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [108]:
val = "español"
val

'español'

In [110]:
val_utf8 = val.encode("utf-8")
print(val_utf8)
type(val_utf8)

b'espa\xc3\xb1ol'

bytes

In [111]:
val_utf8.decode("utf-8")

'español'

In [114]:
print(val.encode("latin1"))
print(val.encode("utf-16"))
print(val.encode("utf-16le"))

b'espa\xf1ol'
b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'
b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [117]:
print(True and True)

print(False or True)

True
True

In [120]:
int(False)

0

In [119]:
int(True)

1

In [122]:
a = True
b = False
print(not a)
print(not b)

False
True

In [124]:
s = "3.14159"
fval = float(s)
print(type(fval))
print(int(fval))
print(bool(fval))
print(bool(0))

<class 'float'>
3
True
False

In [125]:
a = None
a is None

True

In [126]:
b = 5
b is not None

True

In [131]:
from datetime import datetime, date, time
dt1 = datetime(2011, 10, 29, 20, 30, 21)
print(dt1.day)
print(dt1.minute)

29
30

In [140]:
print(dt1.date())
print(dt1.time())

2011-10-29
20:30:21

In [141]:
dt1.date()

datetime.date(2011, 10, 29)

In [144]:
dt1.time()

datetime.time(20, 30, 21)

In [145]:
dt1.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [146]:
dt1.strftime("%d-%m-%Y %H:%M")

'29-10-2011 20:30'

In [147]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [150]:
dt_hour = dt1.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [151]:
dt1

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [152]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt1

In [153]:
delta

datetime.timedelta(days=17, seconds=7179)

In [154]:
type(delta)

datetime.timedelta

In [155]:
dt1

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [156]:
dt1 + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [157]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [162]:
4 > 3 > 2 > 1

True

In [163]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [181]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
    print(x, total)

128 256
64 384
32 448
16 480
8 496
4 504

In [182]:
range(10)

range(0, 10)

In [183]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [184]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [185]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [186]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [189]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668